[Unit]
Description=Generic provisioning and update service for IoT Edge devices
After=network.target
After=network-online.target
After=time-set.target
After=time-sync.target

[Service]
Type=simple
User=root
TimeoutStartSec=610
Restart=always
RestartSec=3600
ExecStartPre=/usr/bin/env /bin/bash /root/bin/wait-for-it.sh -t 600 -h management.azure.com -p 443
ExecStart=/usr/bin/env /bin/bash /root/bin/provision-image.sh

[Install]
WantedBy=multi-user.target
